.message {
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 5px;
}

.info {
  color: #0369a1;
  background: #e0f2fe;
}

.success {
  color: #15803d;
  background: #dcfce7;
}

.warning {
  color: #a16207;
  background: #fef9c3;
}

.error {
  color: #ba3939;
  background: #ffe0e0;
}
