<ng-container *ngIf="vm$ | async as vm; else loading">
  <ng-container *ngIf="!vm.isLoadingForFirstTime; else loading">
    <app-page-header headerTitle="Auditlog: {{ vm.id | userIdToName | async }}">
      <button mat-raised-button routerLink="/users/{{ vm.id }}" type="button">Close</button>
    </app-page-header>

    <div class="content-container">
      <app-problem-details [problemDetails]="vm.problemDetails"></app-problem-details>

      <app-auditlog-table
        [entityName]="entityName"
        [data]="vm"
        (pageIndexChanged)="search($event)"
      ></app-auditlog-table>
    </div>
  </ng-container>
  <!-- <pre>{{ vm | json }}</pre> -->
</ng-container>

<ng-template #loading>
  <app-spinner diameter="50" fullHeight="true"></app-spinner>
</ng-template>
