table {
  width: 100%;
}

tr.detail-row {
  height: 0px !important;
}

.row td {
  border-bottom-width: 0;
}

.detail-row-body {
  overflow: hidden;
  display: flex;
}

.mat-row:hover:not(.detail-row) {
  cursor: pointer;
}
