table {
  width: 100%;
}

tr.detail-row {
  height: 0px !important;
}

.row td {
  border-bottom-width: 0;
}

tr .mat-icon-button {
  height: 24px;
  width: 24px;
  line-height: 18px;
}

.detail-row-body {
  overflow: hidden;
  display: flex;
}
