<ng-container *ngIf="vm$ | async as vm; else loading">
  <ng-container *ngIf="!vm.isLoadingForFirstTime; else loading">
    <app-page-header title="Customers">
      <button mat-raised-button routerLink="/customers/new" type="button">New customer</button>
    </app-page-header>

    <div class="content-container">
      <mat-card class="pl-3 pr-3 pb-0 pt-3 shadow-md bg-white h-full">
        <div appTableFilterContainer [filterCriteria]="vm.criteria" (filterChange)="search($event)">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Search</mat-label>
            <input
              appTableFilter
              debounceTime="350"
              matInput
              placeholder="Search..."
              [formControl]="searchTerm"
              appSetFocus="true"
              autocomplete="off"
              type="text"
              (keydown.enter)="navigateToDetails($event)"
              (keydown.arrowup)="navigateTableUp($event)"
              (keydown.arrowdown)="navigateTableDown($event)"
            />
            <button
              *ngIf="searchTerm.value"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="searchTerm.setValue(null)"
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          <div class="table-container">
            <app-problem-details [problemDetails]="vm.problemDetails"></app-problem-details>
            <table
              mat-table
              matSort
              [matSortActive]="vm.criteria?.sortColumn ?? 'code'"
              matSortDisableClear
              [matSortDirection]="vm.criteria?.sortDirection ?? 'asc'"
              class="w-full bg-inherit"
              [dataSource]="dataSource"
              [trackBy]="trackById"
            >
              <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Code</th>
                <td mat-cell *matCellDef="let row" class="w-40">
                  <app-highlight [value]="row.code" [highlight]="searchTerm.value"></app-highlight>
                </td>
              </ng-container>
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Name</th>
                <td mat-cell *matCellDef="let row">
                  <app-highlight [value]="row.name" [highlight]="searchTerm.value"></app-highlight>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr
                #tableRows
                mat-row
                *matRowDef="let row; let i = index; columns: displayedColumns"
                (click)="navigateToDetailsById(row.id, i)"
                [ngClass]="{
                  'spotlight-row': row.id === vm.spotlightIdentifier,
                  'bg-neutral-50':
                    vm.selectedItem &&
                    row.id === vm.selectedItem.id &&
                    !(row.id === vm.spotlightIdentifier)
                }"
              ></tr>
            </table>

            <ng-container *ngIf="!vm.isLoading && vm.items?.length === 0">
              <div class="mt-5 w-full flex justify-center items-center">
                <span class="text-gray-500 text-lg">No data found.</span>
              </div>
            </ng-container>

            <ng-container *ngIf="vm.isLoading">
              <div class="mt-2">
                <app-spinner diameter="50"></app-spinner>
              </div>
            </ng-container>
          </div>

          <mat-paginator
            [length]="vm.totalItems ?? 0"
            [pageIndex]="vm.pageIndex ?? 0"
            [pageSize]="vm.criteria?.pageSize ?? vm.pageSize"
            [pageSizeOptions]="[5, 10, 15, 20, 25, 30, 40, 50, 100]"
            class="bg-inherit"
          ></mat-paginator>
        </div>
      </mat-card>
    </div>
  </ng-container>
  <!-- <pre>{{ vm | json }}</pre> -->
</ng-container>

<ng-template #loading>
  <app-spinner diameter="50" fullHeight="true"></app-spinner>
</ng-template>
