.page-header {
  display: flex;
  flex-direction: column;
}

.page-header-title {
  display: flex;
  box-sizing: border-box;
  padding: 0 4px 0 12px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  height: 40px;
  background-color: var(--default-theme-accent-color);

  .title {
    font-size: 16px;
    color: var(--default-theme-accent-contrast);
  }
}

:host ::ng-deep .mat-icon {
  color: var(--default-theme-accent-contrast);
}

.page-header-buttonbar {
  display: flex;
  box-sizing: border-box;
  padding: 0 12px 0 8px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  height: 48px;
  background-color: #fafafa;
}

:host ::ng-deep .mat-raised-button {
  margin-right: 8px;
}
