{{ initFromRoute$ | async }}

<ng-container *ngIf="vm$ | async as vm; else loading">
  <ng-container *ngIf="!vm.isLoading; else loading">
    <ng-container *ngIf="vm.loadingEntityFailed && vm.problemDetails">
      <div class="page-load-error-container">
        <app-problem-details [problemDetails]="vm.problemDetails"></app-problem-details>
      </div>
    </ng-container>
    <ng-container *ngIf="!vm.loadingEntityFailed">
      <form [formGroup]="form" novalidate (ngSubmit)="save()">
        <app-page-header
          title="{{ vm.id != null ? 'Invoice: ' + vm.pristine?.invoiceNumber : 'New invoice' }}"
        >
          <button mat-icon-button type="button" *ngIf="vm.id != null" routerLink="auditlog">
            <mat-icon>history</mat-icon>
          </button>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="vm.isSaving"
            [class.button-spinner]="vm.isSaving"
          >
            Save
          </button>
          <button
            mat-raised-button
            (click)="delete()"
            type="button"
            *ngIf="vm.id != null"
            [disabled]="vm.isDeleting"
            [class.button-spinner]="vm.isDeleting"
          >
            Delete
          </button>
          <button mat-raised-button routerLink="/invoices" type="button">Close</button>
          <div class="auditlog" *ngIf="vm.id != null">
            <small
              >Created by
              <a routerLink="/users/{{ vm.pristine?.createdBy }}">{{
                vm.pristine?.createdBy | userIdToName | async
              }}</a>
              on {{ vm.pristine?.createdOn | date: 'short' }}</small
            >
            <small
              >Last modified by
              <a routerLink="/users/{{ vm.pristine?.lastModifiedBy }}">{{
                vm.pristine?.lastModifiedBy | userIdToName | async
              }}</a>
              on {{ vm.pristine?.lastModifiedOn | date: 'short' }}</small
            >
          </div>
        </app-page-header>
        <div class="content-container">
          <app-problem-details [problemDetails]="vm.problemDetails"></app-problem-details>
          <app-message type="warning" *ngIf="vm.hasNewerVersionWithMergeConflict">
            This invoice has just been modified by somebody else and that modification contains
            changes which conflict with your pending changes. Please click 'Refresh' to switch to
            the persisted version of the invoice. Your pending changes will be lost.
            <div>
              <button
                mat-stroked-button
                (click)="resolveMergeConflictWithTakeTheirs()"
                type="button"
              >
                Refresh
              </button>
            </div>
          </app-message>
          <mat-card class="card">
            <mat-card-header>
              <mat-card-title>General</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      [appFocus]="vm.id == null"
                      formControlName="invoiceDate"
                      [matDatepicker]="picker"
                      placeholder="Invoice date"
                    />
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error appDomainEntityErrorMessage></mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width">
                    <button
                      type="button"
                      mat-button
                      matPrefix
                      mat-icon-button
                      (click)="customerAutocomplete.focus()"
                    >
                      <mat-icon>search</mat-icon>
                    </button>
                    <app-customer-autocomplete-form-field-control
                      #customerAutocomplete
                      matInput
                      placeholder="Customer"
                      formControlName="customerId"
                    >
                    </app-customer-autocomplete-form-field-control>
                    <button
                      *ngIf="customerAutocomplete.value != null"
                      type="button"
                      mat-button
                      mat-icon-button
                      matSuffix
                      (click)="customerAutocomplete.clearSearchField()"
                    >
                      <mat-icon>close</mat-icon>
                    </button>
                    <mat-error appDomainEntityErrorMessage></mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      placeholder="Order reference"
                      formControlName="orderReference"
                    />
                    <mat-error appDomainEntityErrorMessage></mat-error>
                  </mat-form-field>
                </div>
              </div>
            </mat-card-content>
          </mat-card>

          <ng-container formArrayName="invoiceLines">
            <table class="mat-table cdk-table mat-elevation-z1">
              <thead role="rowgroup">
                <tr class="mat-header-row cdk-header-row">
                  <th class="mat-header-cell cdk-header-cell">Quantity</th>
                  <th class="mat-header-cell cdk-header-cell">Description</th>
                  <th class="mat-header-cell cdk-header-cell">Selling price</th>
                  <th class="mat-header-cell cdk-header-cell"></th>
                </tr>
              </thead>
              <tbody role="rowgroup">
                <tr class="mat-row cdk-row" *ngFor="let _ of invoiceLines.controls; index as i">
                  <ng-container [formGroupName]="i">
                    <td class="mat-cell cdk-cell">
                      <mat-form-field class="full-width">
                        <input matInput type="number" formControlName="quantity" />
                        <mat-error appDomainEntityErrorMessage></mat-error>
                      </mat-form-field>
                    </td>
                    <td class="mat-cell cdk-cell">
                      <mat-form-field class="full-width">
                        <input matInput formControlName="description" />
                        <mat-error appDomainEntityErrorMessage></mat-error>
                      </mat-form-field>
                    </td>
                    <td class="mat-cell cdk-cell">
                      <mat-form-field class="full-width">
                        <app-currency-form-field-control
                          formControlName="sellingPrice"
                        ></app-currency-form-field-control>
                        <mat-error appDomainEntityErrorMessage></mat-error>
                      </mat-form-field>
                    </td>
                    <td class="mat-cell cdk-cell">
                      <button mat-icon-button type="button" (click)="removeInvoiceLine(i)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </td>
                  </ng-container>
                </tr>
              </tbody>
            </table>
          </ng-container>
          <button mat-icon-button type="button" (click)="addInvoiceLine()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        {{ form.value | json }}
      </form>
    </ng-container>
  </ng-container>
  <!-- {{ vm | json }} -->
</ng-container>

<ng-template #loading>
  <div class="spinner-container">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
</ng-template>
