tr .mat-icon-button {
  height: 24px;
  width: 24px;
  line-height: 18px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mark-deleted {
  background-color: #fee2e2;
}

.mark-added {
  background-color: #dcfce7;
}
