<ng-container *ngIf="item">
  <div
    class="flex flex-row justify-start items-center gap-2 mb-1"
    [style.paddingLeft.px]="indent * 20"
  >
    <div
      class="px-1"
      [class.mark-deleted]="
        item.type === AuditlogTypeEnum.None && item.status === AuditlogStatusEnum.Removed
      "
      [class.mark-added]="
        item.type === AuditlogTypeEnum.None && item.status === AuditlogStatusEnum.Added
      "
    >
      {{ item.propertyName ?? '' }}:
    </div>
    <ng-container *ngIf="item.type !== AuditlogTypeEnum.None">
      <div
        *ngIf="
          item.status === AuditlogStatusEnum.Updated || item.status === AuditlogStatusEnum.Removed
        "
        class="px-1 mark-deleted"
      >
        <code>{{
          item.previousValueAsString
            | auditlogItemValue: entityName:item.propertyName:parentPropertyName
            | async
        }}</code>
      </div>
      <ng-container *ngIf="item.status === AuditlogStatusEnum.Updated"> &#8594; </ng-container>
      <div
        *ngIf="
          item.status === AuditlogStatusEnum.Added || item.status === AuditlogStatusEnum.Updated
        "
        class="px-1 mark-added"
      >
        <code>{{
          item.currentValueAsString
            | auditlogItemValue: entityName:item.propertyName:parentPropertyName
            | async
        }}</code>
      </div>
      <!-- <div>{{ parentPropertyName }}</div> -->
    </ng-container>
  </div>
  <ng-container *ngIf="item.auditlogItems && item.auditlogItems.length > 0">
    <ng-container *ngFor="let childItem of item.auditlogItems">
      <app-auditlog-item
        [item]="childItem"
        [entityName]="entityName"
        [parentPropertyName]="getParentPropertyName(item)"
        [indent]="indent + 1"
      ></app-auditlog-item>
    </ng-container>
  </ng-container>

  <!-- <pre>{{ item | json }}</pre> -->
</ng-container>
