<ng-container *ngIf="vm$ | async as vm; else loading">
  <ng-container *ngIf="!vm.isLoading; else loading">
    <ng-container *ngIf="vm.loadingEntityFailed && vm.problemDetails">
      <div class="page-load-error-container">
        <app-problem-details [problemDetails]="vm.problemDetails"></app-problem-details>
      </div>
    </ng-container>
    <ng-container *ngIf="!vm.loadingEntityFailed">
      <ng-container *ngIf="featureFlagFormGroup">
        <form [formGroup]="featureFlagFormGroup!" novalidate (ngSubmit)="save()">
          <app-page-header title="{{ 'Feature flag: ' + vm.featureFlagName }}">
            <button
              mat-icon-button
              type="button"
              *ngIf="vm.pristine"
              routerLink="auditlog"
              matTooltip="Audit log"
            >
              <mat-icon>history</mat-icon>
            </button>
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="vm.isSaving"
              [class.button-spinner]="vm.isSaving"
            >
              Save
            </button>
            <button mat-raised-button routerLink="/feature-flag-settings" type="button">
              Close
            </button>
            <div class="auditlog" *ngIf="vm.pristine">
              <small
                >Created by
                {{ featureFlagFormGroup.getRawValue().createdBy | userIdToName | async }}
                on {{ featureFlagFormGroup.getRawValue().createdOn | date: 'short' }}</small
              >
              <small
                >Last modified by
                {{ featureFlagFormGroup.getRawValue().lastModifiedBy | userIdToName | async }}
                on {{ featureFlagFormGroup.getRawValue().lastModifiedOn | date: 'short' }}</small
              >
            </div>
          </app-page-header>
          <div class="content-container">
            <app-problem-details [problemDetails]="vm.problemDetails"></app-problem-details>
            <app-message type="warning" *ngIf="vm.hasNewerVersionWithMergeConflict">
              This feature-flag-setting has just been modified by somebody else and that
              modification contains changes which conflict with your pending changes. Please click
              'Refresh' to switch to the persisted version of the feature-flag-setting. Your pending
              changes will be lost.
              <div>
                <button
                  mat-stroked-button
                  (click)="resolveMergeConflictWithTakeTheirs()"
                  type="button"
                >
                  Refresh
                </button>
              </div>
            </app-message>
            <mat-card class="card shadow-lg bg-white mt-2">
              <mat-card-header>
                <mat-card-title>{{ featureFlagFormGroup.getRawValue().name }}</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div class="row">
                  <div class="col">
                    <mat-form-field appearance="fill" class="full-width">
                      <mat-label>Description</mat-label>
                      <textarea
                        matInput
                        cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="3"
                        cdkAutosizeMaxRows="10"
                        placeholder="Description"
                        formControlName="description"
                        type="text"
                      ></textarea>
                      <mat-error appDomainEntityErrorMessage></mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <mat-checkbox formControlName="enabledForAll"
                      >Enabled for all users</mat-checkbox
                    >
                  </div>
                </div>
              </mat-card-content>
            </mat-card>

            <ng-container *ngIf="!featureFlagFormGroup.getRawValue().enabledForAll">
              <mat-card class="card shadow-lg bg-white mt-2">
                <mat-card-header>
                  <mat-card-title>Enabled for specific users</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <ng-container formArrayName="enabledForUsers">
                    <ng-container
                      *ngFor="let user of enabledForUsersFormArray!.controls; let i = index"
                    >
                      <div class="row">
                        <div class="col">
                          <mat-form-field appearance="fill" class="full-width">
                            <mat-label>User</mat-label>
                            <button
                              type="button"
                              mat-button
                              matPrefix
                              mat-icon-button
                              (click)="userAutocomplete.focus()"
                            >
                              <mat-icon>search</mat-icon>
                            </button>
                            <app-user-autocomplete-form-field-control
                              #userAutocomplete
                              matInput
                              placeholder="User"
                              [formControl]="getUserFormControl(i)"
                            >
                            </app-user-autocomplete-form-field-control>
                            <button
                              type="button"
                              mat-button
                              mat-icon-button
                              matSuffix
                              (click)="removeUser(i)"
                              matTooltip="Remove user"
                            >
                              <mat-icon>delete</mat-icon>
                            </button>
                            <mat-error appDomainEntityErrorMessage></mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                    </ng-container>
                  </ng-container>
                  <button mat-raised-button type="button" (click)="addUser()">
                    <mat-icon>add</mat-icon> Add user
                  </button>
                </mat-card-content>
              </mat-card>
            </ng-container>
          </div>
          <!-- {{ featureFlagFormGroup!.value | json }} -->
        </form>
      </ng-container>
    </ng-container>
  </ng-container>
  <!-- {{ vm | json }} -->
</ng-container>

<ng-template #loading>
  <app-spinner diameter="50"></app-spinner>
</ng-template>
