html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #fafafa;
}

.content-container {
  margin: 0 4px;
}

.page-load-error-container {
  margin: 8px;
}

.full-width {
  width: 100%;
}

@keyframes button-spinner {
  to {
    transform: rotate(360deg);
  }
}

.button-spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: button-spinner 0.8s linear infinite;
}

.mat-header-row {
  background-color: #ffffff !important;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
  padding-right: 8px !important;
}

.mat-header-row,
.mat-row {
  height: 25px !important;
  line-height: 24px;
}

.mat-cell,
.mat-footer-cell {
  font-size: 14px !important;
}

.mat-row .mat-icon {
  width: 23px !important;
  height: 23px !important;
  font-size: 21px !important;
  vertical-align: middle !important;
  color: #6b7280;
}

.mat-row .mat-icon-button {
  width: 23px !important;
  height: 23px !important;
  font-size: 21px !important;
  vertical-align: middle !important;
  line-height: 21px;
  color: #6b7280;
}

.mat-row .mat-icon-button:hover {
  background-color: #e5e7eb !important;
}

.mat-form-field-appearance-fill .mat-form-field-infix {
  padding-bottom: 0.4em !important;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  padding-top: 0.3em !important;
  padding-left: 0.6em !important;
  padding-right: 0.5em !important;
}

.mat-form-field-wrapper {
  padding-bottom: 1em !important;
}

.mat-form-field-underline {
  bottom: 1em !important;
}

.form-field-no-subscript .mat-form-field-wrapper {
  padding-bottom: 0.5em !important;
}

.form-field-no-subscript .mat-form-field-underline {
  bottom: 0.5em !important;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding-left: 6px !important;
}

.mat-input-element:disabled {
  color: inherit !important;
}

.mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-label {
  color: rgba(0, 0, 0, 0.6) !important;
}

span .copy-icon-wrapper,
.copy-text .copy-icon-wrapper {
  opacity: 0;
}

span:hover .copy-icon-wrapper,
.copy-text:hover .copy-icon-wrapper {
  opacity: 1;
}

.copy-icon {
  vertical-align: middle !important;
  color: #9ca3af;
}

.copy-icon:hover {
  color: #03a9f4;
}

.mat-menu-item {
  line-height: 32px !important;
  height: 32px !important;
}
