{{ initFromRoute$ | async }}

<ng-container *ngIf="vm$ | async as vm; else loading">
  <ng-container *ngIf="!vm.isLoading; else loading">
    <ng-container *ngIf="vm.loadingEntityFailed && vm.problemDetails">
      <div class="page-load-error-container">
        <app-problem-details [problemDetails]="vm.problemDetails"></app-problem-details>
      </div>
    </ng-container>
    <ng-container *ngIf="!vm.loadingEntityFailed">
      <form [formGroup]="form" novalidate (ngSubmit)="save()">
        <app-page-header
          headerTitle="{{
            vm.id != null
              ? 'Customer: ' + vm.pristine?.code + ' - ' + vm.pristine?.name
              : 'New customer'
          }}"
        >
          <button
            mat-icon-button
            type="button"
            *ngIf="vm.id != null"
            routerLink="auditlog"
            matTooltip="Audit log"
          >
            <mat-icon>history</mat-icon>
          </button>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            *ngIf="vm.hasWritePermission"
            [disabled]="vm.isSaving"
            [class.button-spinner]="vm.isSaving"
          >
            Save
          </button>
          <button
            mat-raised-button
            (click)="delete()"
            type="button"
            *ngIf="vm.hasWritePermission && vm.id != null"
            [disabled]="vm.isDeleting"
            [class.button-spinner]="vm.isDeleting"
          >
            Delete
          </button>
          <button mat-raised-button appBackButton fallbackRouterLink="/customers" type="button">
            Close
          </button>
          <div class="auditlog" *ngIf="vm.id != null">
            <small
              >Created by
              {{ vm.pristine?.createdBy | userIdToName | async }}
              on {{ vm.pristine?.createdOn | date: 'short' }}</small
            >
            <small
              >Last modified by
              {{ vm.pristine?.lastModifiedBy | userIdToName | async }}
              on {{ vm.pristine?.lastModifiedOn | date: 'short' }}</small
            >
          </div>
        </app-page-header>
        <div class="content-container">
          <app-problem-details [problemDetails]="vm.problemDetails"></app-problem-details>
          <app-message type="warning" *ngIf="vm.hasNewerVersionWithMergeConflict">
            This customer has just been modified by somebody else and that modification contains
            changes which conflict with your pending changes. Please click 'Refresh' to switch to
            the persisted version of the customer. Your pending changes will be lost.
            <div>
              <button
                mat-stroked-button
                (click)="resolveMergeConflictWithTakeTheirs()"
                type="button"
              >
                Refresh
              </button>
            </div>
          </app-message>
          <mat-card class="card bg-white pb-1 pl-2 pr-2 pt-0 mt-1">
            <mat-card-title class="pl-1 pt-1 mb-1 text-lg">General</mat-card-title>
            <mat-card-content>
              <div class="row">
                <div class="col">
                  <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Name</mat-label>
                    <input
                      matInput
                      [appSetFocus]="vm.id == null"
                      placeholder="Name"
                      formControlName="name"
                      type="text"
                    />
                    <mat-error appDomainEntityErrorMessage></mat-error>
                    <mat-hint
                      class="bg-yellow-200 text-black"
                      appDomainEntityWarningMessage
                    ></mat-hint>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Address</mat-label>
                    <button
                      type="button"
                      mat-button
                      matPrefix
                      mat-icon-button
                      (click)="addressAutocomplete.focus()"
                      *ngIf="!addressAutocomplete.disabled"
                    >
                      <mat-icon>search</mat-icon>
                    </button>
                    <app-location-autocomplete-form-field-control
                      #addressAutocomplete
                      matInput
                      placeholder="Address"
                      formControlName="addressId"
                      (optionSelected)="onAddressSelected($event)"
                      (optionCleared)="onAddressCleared()"
                    >
                    </app-location-autocomplete-form-field-control>
                    <button
                      *ngIf="addressAutocomplete.value != null && !addressAutocomplete.disabled"
                      type="button"
                      mat-button
                      mat-icon-button
                      matSuffix
                      (click)="addressAutocomplete.clearSearchField()"
                    >
                      <mat-icon>close</mat-icon>
                    </button>
                    <mat-error appDomainEntityErrorMessage></mat-error>
                  </mat-form-field>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <!-- <pre>{{ form.getRawValue() | json }}</pre> -->
      </form>
    </ng-container>
  </ng-container>
  <!-- <pre>{{ vm | json }}</pre> -->
</ng-container>

<ng-template #loading>
  <app-spinner diameter="50" fullHeight="true"></app-spinner>
</ng-template>
