<ng-container *ngIf="vm$ | async as vm; else loading">
  <ng-container *ngIf="!vm.isLoadingForFirstTime; else loading">
    <app-page-header title="Invoices">
      <button mat-raised-button routerLink="/invoices/new" type="button">New invoice</button>
    </app-page-header>

    <div class="content-container">
      <mat-card class="pl-3 pr-3 pb-0 shadow-md pt-3 bg-white h-full">
        <div appTableFilterContainer [filterCriteria]="vm.criteria" (filterChange)="search($event)">
          <div class="flex gap-2">
            <div class="grow">
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Search</mat-label>
                <input
                  appTableFilter
                  debounceTime="350"
                  matInput
                  placeholder="Search..."
                  [formControl]="searchTerm"
                  appSetFocus="true"
                  autocomplete="off"
                  type="text"
                  (keydown.enter)="navigateToDetails($event)"
                  (keydown.arrowup)="navigateTableUp($event)"
                  (keydown.arrowdown)="navigateTableDown($event)"
                />
                <button
                  *ngIf="searchTerm.value"
                  matSuffix
                  mat-icon-button
                  aria-label="Clear"
                  (click)="searchTerm.setValue(null)"
                >
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </div>
            <div class="flex-none">
              <mat-form-field appearance="fill">
                <mat-label>Status</mat-label>
                <mat-select appTableFilter [formControl]="invoiceStatus">
                  <mat-option
                    *ngFor="let invoiceStatus of invoiceStatuses"
                    [value]="invoiceStatus.value"
                  >
                    {{ invoiceStatus.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="table-container">
            <app-problem-details [problemDetails]="vm.problemDetails"></app-problem-details>
            <table
              mat-table
              matSort
              [matSortActive]="vm.criteria?.sortColumn ?? 'InvoiceNumber'"
              matSortDisableClear
              [matSortDirection]="vm.criteria?.sortDirection ?? 'desc'"
              class="w-full bg-inherit"
              [dataSource]="dataSource"
              [trackBy]="trackById"
            >
              <ng-container matColumnDef="InvoiceNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Number</th>
                <td mat-cell *matCellDef="let row" class="w-40">
                  <app-highlight
                    [value]="row.invoiceNumber"
                    [highlight]="searchTerm.value"
                  ></app-highlight>
                </td>
              </ng-container>
              <ng-container matColumnDef="CustomerName">
                <th mat-header-cell *matHeaderCellDef disableClear>Customer</th>
                <td mat-cell *matCellDef="let row">
                  <app-highlight
                    [value]="row.customerName ?? (row.customerId | customerIdToName | async) ?? ''"
                    [highlight]="searchTerm.value"
                  ></app-highlight>
                </td>
              </ng-container>
              <ng-container matColumnDef="InvoiceDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Date</th>
                <td mat-cell *matCellDef="let row">
                  {{ row.invoiceDate | date: 'dd/MM/yyyy' }}
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: displayedColumns"
                (click)="navigateToDetailsById(row.id)"
                [ngClass]="{
                  'spotlight-row': row.id === vm.spotlightIdentifier,
                  'bg-stone-50':
                    vm.selectedItem &&
                    row.id === vm.selectedItem.id &&
                    !(row.id === vm.spotlightIdentifier)
                }"
              ></tr>
            </table>

            <ng-container *ngIf="vm.isLoading">
              <div class="mt-2">
                <app-spinner diameter="50"></app-spinner>
              </div>
            </ng-container>
          </div>

          <mat-paginator
            [length]="vm.totalItems ?? 0"
            [pageIndex]="vm.pageIndex ?? 0"
            [pageSize]="vm.criteria?.pageSize ?? vm.pageSize"
            [pageSizeOptions]="[5, 10, 15, 20, 25, 30, 40, 50, 100]"
            class="bg-inherit"
          ></mat-paginator>
        </div>
      </mat-card>
    </div>
  </ng-container>
  <!-- <pre>{{ vm | json }}</pre> -->
</ng-container>

<ng-template #loading>
  <app-spinner diameter="50" fullHeight="true"></app-spinner>
</ng-template>
