::ng-deep .mat-expansion-panel-body {
  padding: 0 !important;
}

::ng-deep .mat-expansion-panel .mat-list-item {
  padding-left: 12px !important;
}

:host ::ng-deep .mat-paginator-page-size-select {
  margin-top: 1px !important;
}

.mat-toolbar-single-row {
  height: 47px;
  padding-left: 10px;
  padding-right: 4px;
}
