<mat-toolbar color="primary">
  <!-- <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button> -->
  AppName
  <span style="flex: 1 1 auto"></span>
  <a mat-button routerLink="/customers" routerLinkActive="active"> Customers </a>
  <a mat-button [routerLink]="'/invoices'" routerLinkActive="active"> Invoices </a>
  <div>
    <button mat-icon-button [matMenuTriggerFor]="systemMenu"><mat-icon>settings</mat-icon></button>
    <mat-menu #systemMenu>
      <button mat-menu-item routerLink="/application-settings">Application settings</button>
      <button mat-menu-item routerLink="/feature-flag-settings">Feature flags</button>
      <button mat-menu-item routerLink="/users">Users</button>
    </mat-menu>
  </div>
  <div>
    <button mat-icon-button [matMenuTriggerFor]="accountMenu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #accountMenu [overlapTrigger]="false" yPosition="below">
      <button mat-menu-item routerLink="#"><mat-icon>person</mat-icon><span>Profile</span></button>
      <button mat-menu-item routerLink="/user-preferences">
        <mat-icon>settings</mat-icon><span>Preferences</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()"><mat-icon>logout</mat-icon>Logout</button>
    </mat-menu>
  </div>
</mat-toolbar>
<div style="height: calc(100% - 64px); margin: 0">
  <router-outlet></router-outlet>
</div>
