table {
  width: 100%;
}

.spotlight-row {
  -webkit-animation: target-fade 4s;
  animation: target-fade 4s;
}

@-webkit-keyframes target-fade {
  from {
    background-color: var(--default-theme-accent-color);
  }
}

@keyframes target-fade {
  from {
    background-color: var(--default-theme-accent-color);
  }
}

.table-container {
  height: calc(100vh - 200px);
  overflow: auto;
}

.mat-row:hover {
  cursor: pointer;
}
