<ng-container *ngIf="vm$ | async as vm; else loading">
  <ng-container *ngIf="!vm.isLoadingForFirstTime; else loading">
    <app-page-header headerTitle="Feature flags" [showButtonBar]="false"></app-page-header>
    <div class="content-container">
      <mat-card class="pl-1.5 pr-1.5 pt-1.5 pb-0 mt-1.5 bg-white h-full">
        <div appTableFilterContainer [filterCriteria]="vm.criteria" (filterChange)="search($event)">
          <mat-form-field appearance="fill" class="w-full form-field-no-subscript">
            <mat-label>Search</mat-label>
            <input
              appTableFilter
              debounceTime="350"
              matInput
              placeholder="Search..."
              [formControl]="searchTerm"
              appSetFocus="true"
              autocomplete="off"
              type="text"
              (keydown.enter)="navigateToDetails($event)"
              (keydown.arrowup)="navigateTableUp($event)"
              (keydown.arrowdown)="navigateTableDown($event)"
            />
            <button
              *ngIf="searchTerm.value"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="searchTerm.setValue(null)"
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          <div class="table-container">
            <app-problem-details [problemDetails]="vm.problemDetails"></app-problem-details>
            <table
              mat-table
              matSort
              [matSortActive]="vm.criteria?.sortColumn ?? 'name'"
              matSortDisableClear
              [matSortDirection]="vm.criteria?.sortDirection ?? 'asc'"
              class="w-full bg-inherit"
              [dataSource]="dataSource"
              [trackBy]="trackById"
            >
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Name</th>
                <td mat-cell *matCellDef="let row" class="w-40">
                  <app-highlight [value]="row.name" [highlight]="searchTerm.value"> </app-highlight>
                </td>
              </ng-container>

              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Description</th>
                <td mat-cell *matCellDef="let row">
                  <app-highlight
                    [value]="row.description"
                    [highlight]="searchTerm.value"
                  ></app-highlight>
                </td>
              </ng-container>

              <ng-container matColumnDef="enabledForAll">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                  Enabled for all users
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-icon *ngIf="row.enabledForAll">done</mat-icon>
                </td>
              </ng-container>

              <ng-container matColumnDef="enabledForUsers">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                  Enabled for specific users
                </th>
                <td mat-cell *matCellDef="let row">
                  <ng-container
                    *ngIf="
                      !row.enabledForAll && row.enabledForUsers && row.enabledForUsers.length > 0
                    "
                    >{{ row.enabledForUsers.length }} user(s)</ng-container
                  >
                </td>
              </ng-container>

              <ng-container matColumnDef="createdOn">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Created on</th>
                <td mat-cell *matCellDef="let row">
                  {{ row.createdOn | date: 'dd-MM-yyyy hh:mm' }}
                </td>
              </ng-container>

              <ng-container matColumnDef="lastModifiedOn">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                  Last modified on
                </th>
                <td mat-cell *matCellDef="let row">
                  {{ row.lastModifiedOn | date: 'dd-MM-yyyy hh:mm' }}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr
                mat-row
                *matRowDef="let row; let i = index; columns: displayedColumns"
                (click)="navigateToDetailsByName(row.name, i)"
                [ngClass]="{
                  'spotlight-row': row.name === vm.spotlightIdentifier,
                  'bg-neutral-50':
                    vm.selectedItem &&
                    row.name === vm.selectedItem.name &&
                    !(row.name === vm.spotlightIdentifier)
                }"
              ></tr>
            </table>

            <ng-container *ngIf="!vm.isLoading && vm.items?.length === 0">
              <div class="mt-5 w-full flex justify-center items-center">
                <span class="text-gray-500 text-lg">No data found.</span>
              </div>
            </ng-container>

            <ng-container *ngIf="vm.isLoading">
              <div class="mt-2">
                <app-spinner diameter="50"></app-spinner>
              </div>
            </ng-container>
          </div>

          <mat-paginator
            [length]="vm.totalItems ?? 0"
            [pageIndex]="vm.pageIndex ?? 0"
            [pageSize]="vm.criteria?.pageSize ?? vm.pageSize"
            [pageSizeOptions]="[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 100]"
            class="bg-inherit"
          ></mat-paginator>
        </div>
      </mat-card>
    </div>
  </ng-container>
  <!-- <pre>{{ vm | json }}</pre> -->
</ng-container>

<ng-template #loading>
  <app-spinner diameter="50" fullHeight="true"></app-spinner>
</ng-template>
